body {
    font-family: 'Inconsolata';
    font-size: 2rem;
    background-color: #C7741C;
    color: #F9F3EE;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Monoton";
    font-size: 30pt;
    text-align:center;
}
h2 { 
    margin: .1em
}

header {
    text-align: center;
}

/*Hero Section*/

#hero img {
    width: 300px;
}

#hero, footer {
    color: #F9F3EE;
    border: 2px solid #F9F3EE;
    background-color: #7A4811;   
    text-align: center;
    padding: 10px;
}

/* Bio Section */

#bio {
    text-align: center;
}

/*iFrame*/

figcaption {
    text-align: center
    ;}

    iframe { 
        align-items: center;
        display:block; 
        margin:auto; 
        max-width: 100% 
        }

        .iframe {
            justify-content: center;
            display: block;
        }  

/* Hobbies Section */

#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center; 

}

#hobbies ul li:nth-child(odd) {
    color: #7A4811;
}


ul {
    padding-left: 0;
    list-style-position: inside;
}

a:hover {
    color:darkolivegreen
}

/* Gallery */

#gallery {
    border: 2px solid white;
    margin-bottom:2rem;

}

#gallery img {
    width: auto;
    max-width: 100%;
    height: auto;
}

#gallery figure {
    text-align: center;
}

/* Literature */



#lit {
    text-align: right;
    text-align: left;
    border: 2px solid white;
    margin-bottom:2rem;
}

#lit div {
    padding:2rem;
    max-width: 100rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem 0;
}

/* Dropcaps */

#lit div p:first-child::first-letter {
    color:cornsilk;
    font-size:4em;
    padding: .2em;
    line-height:.8;
    border: outset whitesmoke;
    font-family: "Neonderthaw";
    float: left;
    margin: 0.1em 0.1em 0.1em 0;
    padding: 0.2em;
    background-image:repeating-linear-gradient(whitesmoke, darkolivegreen);
    text-shadow: 5px 5px rgba(0,0,0,.5);
    box-shadow: 10px 10px 10px rgba(0,0,0,.5);
    border-bottom-left-radius: .5em;
    border-top-left-radius: .5em;
 } 

 /* Contact Form */

 #formElements {
     display:grid;
     row-gap: .3em;
 }

 #contact {
     padding: 1rem;
     max-width: 600px;
     margin: 2rem auto;
 }

/* tablet size */
@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr ;
    }

    iframe { 
        align-items: center;
        display:block; 
        margin:auto; 
        max-width: 100% 
        }

        .iframe {
            justify-content: center;
            display: block;
        }

 figcaption {
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2rem;
     margin-left: 1rem;

    } 

 figure img {
     width: 100%;
 }

 #lit div{
     max-width: 100%;
     columns: 20rem;
 } 

 #video h2 {
    text-align: center;
}

}

 /* large screen size */

 @media screen and (min-width: 100em) {

    #gallery {
        justify-content: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
     
 hr {
     display: none;
 }

 #gallery h2 {
    grid-column: 1/-1;
 }

 #video h2 {
     text-align: center;
 }

figure {
    display: block;
} 

iframe { 
    justify-content: center;
    align-items: center;
    display:block; 
    margin:auto; 
    max-width: 100% 
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    #video h2 {
        text-align: center;
    }

    .iframe {
        justify-content: center;
        display: block;
    }
}
    